html, body{
  margin:0px; padding:0px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* background dark cards light */
:root {
  --bg-color: #C6EBBE;
  --white-text: white;
  --card-bg: rgba(255, 255, 255, 0.7);
  --button-ok-bg: #334195;
  --button-ok-hover: #020887;
  --processing-bg:rgba(1, 1, 1, 0.6);
  --card-text: black;
}

.mainback {
  background-color: var(--bg-color) !important;
  text-align: center;
}

.reg-text{
  color: var(--white-text);
}
.button-ok{
  background-color: var(--button-ok-bg) !important;
  border-color: var(--button-ok-bg)!important;
  color: var(--white-text)!important;
  
}
.button-ok:hover,
.button-ok:active,
.button-ok:visited{
  background-color: var(--button-ok-hover) !important;
  border-color: var(--button-ok-hover) !important;
}

.reg-card{
  background-color: var(--card-bg) !important;
  border-color: var(--card-bg) !important;
  color: var(--card-text);
}

.processing-tab{
  background-color: var(--processing-bg) !important;
  color: var(--white-text)!important;
  
}

.banner-image-main {
  background-image: url('img/banner_img_main.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 1500px;
}

.banner-image-emissions {
  background-image: url('img/banner_img6.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 1500px;

}
.vertical-header {
  width: 3x;
  background-color: white !important;
  opacity: 0.7 !important;
  
}

.header-dark {
  background-color: rgba(1, 1, 1) !important;
  opacity: 0.7 !important;
  
}

.App {
  text-align: center;
}